extends ./metric.jade

block content
	-
		metric_id = metric['metric_id']
		icon = metric['options']['icon']
		text = metric['options']['text']
		value = score['display']
		// TODO: Make sure that Firefox doesn't auto check the input field.

	label.vote
		input(
			name = 'metric-'+metric_id
			type = 'radio'
			value = 1
			checked = ( user_vote == 1 )
			data-previous = ( user_vote == 1 ? "true" : "false" )
		)
		i(class = 'icon-'+icon+'-up')
		span
			| #{text}
	span.score
		| #{value}
	