-
	// Expects variables metric, score, [user_vote], [transaction_id]
	metric_id = metric.metric_id
	answers = metric.options['answers'].split( /\r?\n/ )
	total_votes = score.count || 0
	votes = score.data || {}

ul
	each text, i in answers
		- vote_count = votes[i] || 0
		li
			label.vote
				input(
					name = 'metric-' + metric_id
					type = 'radio'
					value = i
					checked = ( user_vote === i )
					data-previous = ( user_vote === i ? "true" : "false" )
					autocomplete = "off"
					disabled = ( transaction_id == null )
				)
				span
					| #{text}
			//span.score
			//	| #{vote_count}
			br
			progress.score(
				max = total_votes
				value = vote_count
			)
