
mixin field(title)
	dt= title
	dd
		block

-
	// Expects variables options, slug
	answers = options['answers'] || ""

+field("Answers")
	textarea(
		name= "options[answers]"
		autocomplete= "off"
		rows= "6"
	)= answers
	br
	small: em= "One answer per line."