
mixin nav(title, nav_path, current_path)
	//- selected = ( current_path == nav_path ? "pure-menu-selected" : "" )
	- selected = ( current_path != null && current_path.indexOf( nav_path ) == 0 ? "pure-menu-selected" : "" )
	li.pure-menu-item(class = selected)
		a.pure-menu-link(href= nav_path)= title

doctype html
html
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		block scripts
	header(style="display:none;")
		h2= "Evaluate" + ( title ? " - " + title : "" )
		hr
		if true || user
			nav.pure-menu.pure-menu-horizontal
				ul.pure-menu-list
					+nav("Login", "/", path)
					+nav("Metrics", "/metrics", path)
					+nav("Rubrics", "/blueprints", path)
					+nav("View Data", "/data", path)
	body
		br
		if alerts
			ul.alerts
				each alert, key in alerts
					li(class=key)= alert
		block content
