doctype html
html
	head
		title= title
		//link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		block scripts
	header
		h2= "Evaluate - " + title
		hr
		nav: ul
			li: a(href="/manage")= "Manage"
			li: a(href="/manage/create")= "Add New"
			li: a= "View Data"
	body
		block content
