doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/metric-base.css')
		link(rel="stylesheet", href="/fontello/css/evaluate.css")
		link(rel="stylesheet", href="/fontello/css/animation.css")
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	body(class= ( transaction_id == null ? "disabled" : "" ))
		strong.title= metric.options['title']
		| !{body}
		-// pre= JSON.stringify(metric.options)
	footer
		script.
			data = {
				transaction_id: "#{transaction_id}",
			};
		if transaction_id != null
			script(src="/javascripts/metrics.js")
