
-
	// Expects variables metric, score, [user_vote], [transaction_id], [name]
	name = input_name || 'metric-' + metric.metric_id
	options = metric.options
	icon = options['icon']
	text_up = options['text_up']
	text_down = options['text_down']
	display = score.display || 0

label.vote
	input(
		name = name
		type = 'radio'
		value = 1
		checked = ( user_vote === 1 )
		data-previous = ( user_vote == 1 ? "true" : "false" )
		autocomplete = "off"
		disabled = ( transaction_id == null )
	)
	i(class = 'icon-'+icon+'-up')
	span
		| #{text_up}
label.vote
	input(
		name = name
		type = 'radio'
		value = -1
		checked = ( user_vote === -1 )
		data-previous = ( user_vote == -1 ? "true" : "false" )
		autocomplete = "off"
		disabled = ( transaction_id == null )
	)
	i(class = 'icon-'+icon+'-down')
	span
		| #{text_down}
span.score(title="Total")
	| #{display}