
-
	// Expects variables metric, score, [user_vote], [transaction_id], [name]
	name = input_name || 'metric-' + metric.metric_id
	options = metric.options
	icon = options['icon']
	text_up = options['text_up']
	text_down = options['text_down']
	display = score.display || 0

label.vote
	input(
		name = name
		type = 'radio'
		value = 1
		checked = ( user_vote === 1 )
		autocomplete = "off"
		disabled = ( transaction_id == null )
	)
	i(class = 'icon-'+icon+'-up')
	span
		| #{text_up}
label.vote
	input(
		name = name
		type = 'radio'
		value = -1
		checked = ( user_vote === -1 )
		autocomplete = "off"
		disabled = ( transaction_id == null )
	)
	i(class = 'icon-'+icon+'-down')
	span
		| #{text_down}
span.score(title="Total")
	| #{display}

script.
	if ( typeof TWO_WAY_SCRIPT === 'undefined' ) {
		TWO_WAY_SCRIPT = true;
		
		jQuery('.metric-two-way').on( 'evaluate-update', function( event, data, choice ) {
			var element = jQuery(this);
			element.find('.score').text( data.score );

			if ( data.vote != choice ) {
				if ( data.vote != null ) {
					element.find( 'input[value="' + data.vote + '"]' ).prop( 'checked', true );
				} else {
					element.find( 'input:checked' ).prop( 'checked', false );
				}
			}
			
			event.stopPropagation();
		} );
	}
