-
	// Expects variables metric, score, submetrics, [user_vote], [transaction_id]
	rubric = metric
	rubric_score = score
	rubric_user_vote = user_vote 
	value = rubric_score.display

form
	each metric, i in submetrics
		-
			submetric_id = metric.id
			input_name = 'submetric-' + submetric_id
			user_vote = rubric_user_vote[submetric_id]
			score = rubric_score.data[submetric_id] || {}

		div.submetric(id="submetric-" + submetric_id, data-id= submetric_id)
			strong.title= metric.options['title'] || ""

			-// TODO: Refactor this for any arbitrary metric type
			case metric.type.slug
				when 'one-way'
					include ../one-way/display.jade
				when 'two-way'
					include ../two-way/display.jade
				when 'range'
					include ../range/display.jade
				when 'poll'
					include ../poll/display.jade

	if transaction_id
		input(type="submit", value="Submit")
		button.reset(type="button")= "Reset"
	span.rubric-score= value

if transaction_id
	script(type="text/javascript", src="/javascripts/metric-rubric.js")