
mixin step( i, icon, metric_id, user_vote )
	if i > 0
		- // TODO: Consider implementing this state info?
		- icon_state = 'up' // ( i <= user_vote ) ? 'up' : 'empty'

		span.vote
			+step( i - 1, icon, metric_id, user_vote )
			label
				input(
					name = 'metric-'+metric_id
					type = 'radio'
					value = i
					checked = ( user_vote === i )
					data-previous = ( user_vote == i ? "true" : "false" )
					autocomplete = "off"
					disabled = ( transaction_id == null )
				)
				i(class='icon-'+icon+'-'+icon_state)

-
	metric_id = metric.metric_id
	options = metric.options
	icon = options['icon']
	max = options['max']
	display = score.display

if icon === 'slider'
	label.vote
		input(
			name = 'metric-'+metric_id
			input = 'range'
			min = '0'
			step = '1'
			max = max
			value = user_vote
			autocomplete = "off"
			disabled = ( transaction_id == null )
		)
else if icon == 'numeric'
	label.vote
		input(
			name = 'metric-'+metric_id
			input = 'number'
			min = '0'
			step = '1'
			max = max
			value = user_vote
			placeholder = '0'
			autocomplete = "off"
			disabled = ( transaction_id == null )
		)
		span= "/ " + max + " - "
else
	+step(max, icon, metric_id, user_vote)

span.score
	| #{display}
