-
	// Expects variables metric, score, [user_vote], [transaction_id]
	metric_id = metric.metric_id
	options = metric.options
	icon = options['icon']
	text = options['text']
	display = score.display

label.vote
	input(
		name = 'metric-'+metric_id
		type = 'radio'
		value = 1
		checked = ( user_vote == 1 )
		data-previous = ( user_vote == 1 ? "true" : "false" )
		autocomplete = "off"
		disabled = ( transaction_id == null )
	)
	i(class = 'icon-'+icon+'-up')
	span
		| #{text}
span.score
	| #{display}
	