-
	// Expects variables metric, score, [user_vote], [transaction_id], [name]
	name = input_name || 'metric-' + metric.metric_id
	options = metric.options
	icon = options['icon']
	text = options['text']
	display = score.display || 0

label.vote
	input(
		name = name
		type = 'checkbox'
		value = 1
		checked = ( user_vote == 1 )
		autocomplete = "off"
		disabled = ( transaction_id == null )
	)
	i(class = 'icon-'+icon+'-up')
	span
		| #{text}
span.score(title="Total")
	| #{display}

// TODO: Make these scripts only render once (in the case of rubrics)
script.
	jQuery('.metric-one-way').on( 'evaluate-update', function( event, data, choice ) {
		var element = jQuery(this);
		element.find('.score').text( data.score );

		if ( data.vote != choice ) {
			var input = element.find( 'input' );
			input.prop( 'checked', data.vote == 1 );
		}
		
		event.stopPropagation();
	} );
