-
	// This file defines how a "One Way" metric should look.
	// Expects variables metric, score, [user_vote], [transaction_id], [input_name]

	// Explicitly extract the expected variables.
	name = input_name || 'metric-' + metric.metric_id
	options = metric.options
	icon = options['icon']
	text = options['text']
	display = score.display || 0

label.vote
	input(
		name = name
		type = 'radio'
		value = 1
		checked = ( user_vote == 1 )
		autocomplete = "off"
		disabled = ( transaction_id == null )
	)
	i(class = 'icon-'+icon+'-up')
	span
		| #{text}
span.score(title="Total")
	| #{display}

script.
	// This check makes sure that the script is only run once.
	if ( typeof ONE_WAY_SCRIPT === 'undefined' ) {
		ONE_WAY_SCRIPT = true;
		
		// When our front-end code receives an update on the value of this metric, this callback will run to update the UI.
		jQuery('.metric-one-way').on( 'evaluate-update', function( event, data, choice ) {
			var element = jQuery(this);

			// Set the score value to what we received.
			element.find('.score').text( data.score );

			// If the new vote is different from the expected value, make sure we update it.
			if ( data.vote != choice ) {
				var input = element.find( 'input' );
				input.prop( 'checked', data.vote == 1 );
			}
			
			// Prevent the default evaluate-update event
			event.stopPropagation();
		} );
	}
