-
	// Expects variables metric, score, submetrics, [user_vote], [transaction_id]
	rubric = metric
	rubric_score = score
	rubric_user_vote = user_vote || {}
	value = rubric_score.display || 0

form
	each submetric, i in submetrics
		-
			console.log("Rubric score", rubric_score.data, i)
			submetric_id = submetric.id
			title = submetric.options['title'] || ""
			score = rubric_score.data ? rubric_score.data[submetric_id] : {}

			html = submetric.type.render_display({
				transaction_id: transaction_id,
				metric: submetric,
				input_name: 'submetric-' + submetric_id,
				user_vote: rubric_user_vote[submetric_id],
				score: score != null ? rubric_score.data[submetric_id] : {},
			});

		div.submetric(id= "submetric-" + submetric_id, class= "metric-"+submetric.type.slug, data-id= submetric_id)
			strong.title= title
			| !{html}

	div.rubric-meta
		if transaction_id
			input(type="submit", value="Submit")
			button.reset(type="button")= "Reset"
		span.rubric-score(title="Average")= value

if transaction_id
	script(type="text/javascript", src="/javascripts/metric-rubric.js")

script.
	if ( typeof RUBRIC_SCRIPT === 'undefined' ) {
		RUBRIC_SCRIPT = true;
		
		jQuery('.metric-rubric').on( 'evaluate-update', function( event, data, choices ) {
			var element = jQuery(this);
			element.find('.rubric-score').text( data.score );

			for ( var i in data.score_data ) {
				console.log( "Processing update for", i );
				jQuery( '#submetric-' + i ).trigger( 'evaluate-update', {
					vote: data.vote[i],
					score: data.score_data[i].display,
					total: data.score_data[i].count,
				}, choices[i] );
			}

			event.stopPropagation();
		} );
	}
