- // This is a generic layout file used to wrap the editors and data displays.
doctype html
html
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
		link(rel="stylesheet", href="/stylesheets/editor.css")
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")

		if stylesheet
			link(rel="stylesheet", href=stylesheet)
		
		block scripts
	h3= ( title ? title : "Evaluate" )
		if user
			+nav("Logout", "/logout")
	body
		block content